{% extends 'base.html' %}
    {% block welcome %}
       {{ category.title }}
    {% endblock  %}

    {% block content %}

  <div class="container">
    <div class="row">
        {% for p in posts %}
        <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" 
                    src="{{ p.image.url  }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">January 1, 2023</div>
                    <h2 class="card-title h4">{{ p.title }}</h2>
                    <p class="card-text">{{ p.content }}</p>
                    <a class="btn btn-primary"
                     href="#">Read more →</a>
                </div>
            </div>
            <!-- Blog post-->
            
        </div>
        {% endfor %}
    </div>
  </div>
   

{% endblock content %}