{% extends 'base.html' %}
    {% block welcome %}
       {{ last_post.title }}
    {% endblock  %}

    {% block content %}
            <!-- Page content-->
            <div class="container">
                <div class="row">
                    <!-- Blog entries-->
                    <div class="col-lg-8">
                        <!-- Featured blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top"
                                 src="{{ last_post.image.url }}" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">{{ last_post.created_at  }}</div>
                                <div class=" text-muted my-3">
                                   
                                    <a href="{% url 'main:post_reactions' last_post.id  %}?reactions=likes" style="margin-right: 15px;">
                                        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i> <span style="font-size: 20px;">{{ last_post.likes }}</span>
                                    </a> 
                                    
                                    <a href="{% url 'main:post_reactions' last_post.id  %}?reactions=dislikes" style="margin-right: 15px;">
                                        <i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i> <span style="font-size: 20px;">{{ last_post.dislikes }}</span>
                                    </a> 

                                    <i class="fa fa-eye fa-2x" aria-hidden="true"></i> <span style="font-size: 20px;">{{ last_post.views }}</span>

                                </div>
                                
                                
                                <h2 class="card-title"> {{ last_post.title  }}</h2>
                                <p class="card-text"> {{ last_post.content  }} </p>
                                <!-- <a class="btn btn-primary" href="{% url 'main:post' last_post.id  %}">Read more →</a> -->
                                
                                <div class="my-4">
                                    <form action="{% url 'main:post' last_post.id  %}" method="post">

                                        {% csrf_token %}
                                       
                                        {% if not request.user.is_authenticated  %}
                                        <div class="form-group my-4">
                                          <label for="formGroupExampleInput">Ismingizni kiriting</label>
                                          <input type="text" required name="first_name" class="form-control" placeholder="Ismingiz...">
                                        </div>

                                        <div class="form-group my-4">
                                            <label for="formGroupExampleInput">Familyangizni  kiriting</label>
                                            <input type="text" required name="last_name"  class="form-control" placeholder="Familyangiz...">
                                          </div>

                                        {% endif %}
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Komment qoldirish</label>
                                            <textarea required name="comment"  class="form-control" name="" id="" cols="30" rows="5"></textarea>
                                        </div>
                                        <div class="form-group mt-3">
                                            <button type="submit" class="btn btn-success">Jo'natish</button>    
                                        </div>
                                      </form>
                                     
                                  
                                      {% for c in last_post.comments.all %}
                                      <div class="comments mt-5">
                                        <div class="media">
                                            <img class="d-flex mr-3" 
                                            data-src="" width="20"  alt="64x64" src="https://alumni.tcnj.edu/wp-content/uploads/sites/16/2022/06/user-icon-placeholder.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
                                            <div class="media-body">
                                              <h5 class="mt-0">
                                                {{ c.first_name }}  {{ c.last_name }} 
                                              </h5>
                                              
                                              <small class="text-muted">{{ c.created_at }}</small>
                                                  <p>  {{ c.content }} </p>
                                            </div>
                                          </div>
                                      </div>
                                      {% endfor %}
                                      
                                      
                                </div>
                           
                            </div>
                        </div>
                        <!-- Nested row for non-featured blog posts-->
                       
                        <!-- Pagination-->
                        
                    </div>
                    <!-- Side widgets-->
                    <div class="col-lg-4">
                        <!-- Search widget-->
                        <div class="card mb-4">
                            <div class="card-header">Search</div>
                            <div class="card-body">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                                </div>
                            </div>
                        </div>
                        <!-- Categories widget-->
                        <div class="card mb-4">
                            <div class="card-header">Categories</div>
                            <div class="card-body">
                                <div class="row">
                                    
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                           {% for c in categories %}
                                                <li>  <a href="{% url 'main:category' c.id  %}"> {{ c }} </a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Side widget-->
                        <div class="card mb-4">
                            <div class="card-header">Side Widget</div>
                            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            {% endblock content %}
    